body{
    margin: 0;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.container h1{
    position: relative;
    left: 44%;
    top: 10%;
}

.form{
    position: relative;
    top: 25%;
    width: 100%;
}
.form-element{
    margin: 1rem;
    width: 80%;
}
.button-container{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    width: 100%;
}
.btn{
    position: relative;
    width: 80%;
    left: 8px;
    margin: 0.5rem;
}