body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.container{
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    left: 45%;
    bottom: 20%;
    letter-spacing: 2px;
}
.form-group{
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    position: relative;
    left: 20%;
    margin: 2rem;
}
.btn{
    width: 100%;
    position: relative;
    top: 10%;
}
x